html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
  outline-offset: 0;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.Btn,
a.Btn,
button.Btn {
  padding: 0px 16px;
  cursor: pointer;
  border-radius: 32px;
  display: inline-block;
  text-decoration: none;
  color: #522b79;
  font-size: 14px;
  border: none;
  height: 48px;
  line-height: 48px;
  min-width: 242px;
  text-transform: uppercase;
  background-color: #fff700;
  font-family: 'Saira', 'Roboto', sans-serif;
  position: relative;
  display: inline-block;
  text-align: center;
}
.Btn.BtnIcon,
a.Btn.BtnIcon,
button.Btn.BtnIcon {
  min-width: 222px;
  padding-right: 40px;
}
.Btn.BtnIcon .Icon,
a.Btn.BtnIcon .Icon,
button.Btn.BtnIcon .Icon {
  position: absolute;
  padding-left: 8px;
}
.Btn:hover,
a.Btn:hover,
button.Btn:hover {
  filter: brightness(0.8);
}
.Btn.BtnInverted,
a.Btn.BtnInverted,
button.Btn.BtnInverted {
  color: #fff700;
  background-color: #522b79;
}
.Btn.BtnOutline,
a.Btn.BtnOutline,
button.Btn.BtnOutline {
  border: 2px solid #fff700;
  color: #fff700;
  background-color: #522b79;
}
.Btn.BtnOutlineInverted,
a.Btn.BtnOutlineInverted,
button.Btn.BtnOutlineInverted {
  border: 2px solid #522b79;
  color: #522b79;
  background-color: #fff700;
}
.ButtonIcon {
  position: relative;
  z-index: 1;
}
.ButtonIcon a {
  color: #522b79;
}
.ButtonIcon a:hover .Icon {
  transform: scale(1.1);
}
.ButtonIcon .Icon {
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 8px 10px rgba(82,43,121,0.2);
  background-color: #fff700;
  transition: all ease 0.3s;
}
.ButtonIcon .Text {
  height: 36px;
  display: inline-block;
  line-height: 36px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-right: 16px;
  padding-left: 32px;
  margin-left: -24px;
  background-color: #fff;
  top: -2px;
  position: relative;
  z-index: -1;
}
.Card {
  display: block;
  text-decoration: none;
  padding: 24px;
  border-radius: 8px;
}
.Container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 550px;
}
.Pointer {
  cursor: pointer;
}
.W100 {
  width: 100%;
}
.W80 {
  width: 80%;
}
.BGPrimary {
  background-color: #522b79;
}
.BGSecondary {
  background-color: #fff700;
}
.BGLightGray {
  background-color: #f5f5f5;
}
.BGWhite {
  background-color: #fff;
}
.ColorPrimary {
  color: #522b79;
}
.ColorSecondary {
  color: #fff700;
}
body,
.ColorBlack {
  color: #444;
}
.ColorGray {
  color: #aaa;
}
.ColorWhite {
  color: #fff;
}
.Opacity5 {
  opacity: 0.5;
}
.Opacity6 {
  opacity: 0.6;
}
.Block {
  display: block;
}
.InlineBlock {
  display: inline-block;
}
.DNone {
  display: none;
}
@media only screen and (min-width: 800px) {
  .AboveHide {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .BellowHide {
    display: none;
  }
}
.Flex {
  display: flex;
}
.JCCenter {
  justify-content: center;
}
.JCSpaceBetween {
  justify-content: space-between;
}
.JCStart {
  justify-content: flex-start;
}
.JCEnd {
  justify-content: flex-end;
}
.AICenter {
  align-items: center;
}
.FlexCenter {
  justify-content: center;
  align-items: center;
}
.FlexGrow {
  flex-grow: 1;
}
.FlexWrap {
  flex-wrap: wrap;
}
.FlexDirectionRowReverse {
  flex-direction: row-reverse;
}
.FlexDirectionColumn {
  flex-direction: column;
}
.FlexDirectionColumneverse {
  flex-direction: column-reverse;
}
.FlexDirectionRow {
  flex-direction: row;
}
.FlexDirectionRowReverses {
  flex-direction: row-reverse;
}
@media only screen and (min-width: 800px) {
  .Row {
    display: flex;
  }
}
.FS8 {
  font-size: 8px;
}
.FS12 {
  font-size: 12px;
}
.FS16 {
  font-size: 16px;
}
.FS24 {
  font-size: 24px;
}
.FS32 {
  font-size: 32px;
}
.FS40 {
  font-size: 40px;
}
.FS48 {
  font-size: 48px;
}
.FS80 {
  font-size: 80px;
}
.FS1x {
  font-size: 11px;
}
@media only screen and (min-width: 400px) {
  .FS1x {
    font-size: 12px;
  }
}
@media only screen and (min-width: 800px) {
  .FS1x {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1200px) {
  .FS1x {
    font-size: 13px;
  }
}
.FS2x {
  font-size: 12px;
}
@media only screen and (min-width: 400px) {
  .FS2x {
    font-size: 13px;
  }
}
@media only screen and (min-width: 800px) {
  .FS2x {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .FS2x {
    font-size: 14px;
  }
}
.FS3x {
  font-size: 14px;
}
@media only screen and (min-width: 400px) {
  .FS3x {
    font-size: 15px;
  }
}
@media only screen and (min-width: 800px) {
  .FS3x {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .FS3x {
    font-size: 16px;
  }
}
.FS4x {
  font-size: 16px;
}
@media only screen and (min-width: 400px) {
  .FS4x {
    font-size: 17px;
  }
}
@media only screen and (min-width: 800px) {
  .FS4x {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .FS4x {
    font-size: 18px;
  }
}
.FS5x {
  font-size: 18px;
}
@media only screen and (min-width: 400px) {
  .FS5x {
    font-size: 19px;
  }
}
@media only screen and (min-width: 800px) {
  .FS5x {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .FS5x {
    font-size: 21px;
  }
}
.FS6x {
  font-size: 20px;
}
@media only screen and (min-width: 400px) {
  .FS6x {
    font-size: 21px;
  }
}
@media only screen and (min-width: 800px) {
  .FS6x {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1200px) {
  .FS6x {
    font-size: 24px;
  }
}
.FS7x {
  font-size: 22px;
}
@media only screen and (min-width: 400px) {
  .FS7x {
    font-size: 25px;
  }
}
@media only screen and (min-width: 800px) {
  .FS7x {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .FS7x {
    font-size: 32px;
  }
}
.FS8x {
  font-size: 24px;
}
@media only screen and (min-width: 400px) {
  .FS8x {
    font-size: 28px;
  }
}
@media only screen and (min-width: 800px) {
  .FS8x {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .FS8x {
    font-size: 40px;
  }
}
.FS9x {
  font-size: 32px;
}
@media only screen and (min-width: 400px) {
  .FS9x {
    font-size: 36px;
  }
}
@media only screen and (min-width: 800px) {
  .FS9x {
    font-size: 44px;
  }
}
@media only screen and (min-width: 1200px) {
  .FS9x {
    font-size: 48px;
  }
}
.FS10x {
  font-size: 40px;
}
@media only screen and (min-width: 400px) {
  .FS10x {
    font-size: 44px;
  }
}
@media only screen and (min-width: 800px) {
  .FS10x {
    font-size: 52px;
  }
}
@media only screen and (min-width: 1200px) {
  .FS10x {
    font-size: 56px;
  }
}
.Grid {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.Grid.GridThreeColumns {
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 400px) {
  .Grid.GridThreeColumns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 800px) {
  .Grid.GridThreeColumns {
    grid-template-columns: repeat(3, 1fr);
  }
}
.MAuto {
  margin-left: auto;
  margin-right: auto;
}
.M0 {
  margin: 0;
}
.M4 {
  margin: 4px;
}
.M8 {
  margin: 8px;
}
.M12 {
  margin: 12px;
}
.M16 {
  margin: 16px;
}
.M24 {
  margin: 24px;
}
.M32 {
  margin: 32px;
}
.M40 {
  margin: 40px;
}
.MT0 {
  margin-top: 0px;
}
.MT4 {
  margin-top: 4px;
}
.MT8 {
  margin-top: 8px;
}
.MT12 {
  margin-top: 12px;
}
.MT16 {
  margin-top: 16px;
}
.MT24 {
  margin-top: 24px;
}
.MT32 {
  margin-top: 32px;
}
.MT40 {
  margin-top: 40px;
}
.MR0 {
  margin-right: 0px;
}
.MR4 {
  margin-right: 4px;
}
.MR8 {
  margin-right: 8px;
}
.MR12 {
  margin-right: 12px;
}
.MR16 {
  margin-right: 16px;
}
.MR24 {
  margin-right: 24px;
}
.MR32 {
  margin-right: 32px;
}
.MR40 {
  margin-right: 40px;
}
.MB0 {
  margin-bottom: 0px;
}
.MB4 {
  margin-bottom: 4px;
}
.MB8 {
  margin-bottom: 8px;
}
.MB12 {
  margin-bottom: 12px;
}
.MB16 {
  margin-bottom: 16px;
}
.MB24 {
  margin-bottom: 24px;
}
.MB32 {
  margin-bottom: 32px;
}
.MB40 {
  margin-bottom: 40px;
}
.ML0 {
  margin-left: 0px;
}
.ML4 {
  margin-left: 4px;
}
.ML8 {
  margin-left: 8px;
}
.ML12 {
  margin-left: 12px;
}
.ML16 {
  margin-left: 16px;
}
.ML24 {
  margin-left: 24px;
}
.ML32 {
  margin-left: 32px;
}
.ML40 {
  margin-left: 40px;
}
.MV0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.MV4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.MV8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.MV12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.MV16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.MV24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.MV32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.MV40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.MH0 {
  margin-right: 0px;
  margin-left: 0px;
}
.MH4 {
  margin-right: 4px;
  margin-left: 4px;
}
.MH8 {
  margin-right: 8px;
  margin-left: 8px;
}
.MH12 {
  margin-right: 12px;
  margin-left: 12px;
}
.MH16 {
  margin-right: 16px;
  margin-left: 16px;
}
.MH24 {
  margin-right: 24px;
  margin-left: 24px;
}
.MH32 {
  margin-right: 32px;
  margin-left: 32px;
}
.MH40 {
  margin-right: 40px;
  margin-left: 40px;
}
.M1x {
  margin: 16px;
}
@media only screen and (min-width: 800px) {
  .M1x {
    margin: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .M1x {
    margin: 32px;
  }
}
.M2X {
  margin: 24px 16px;
}
@media only screen and (min-width: 800px) {
  .M2X {
    margin: 48px 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .M2X {
    margin: 64px 24px;
  }
}
.M3x {
  margin: 32px 16px;
}
@media only screen and (min-width: 800px) {
  .M3x {
    margin: 64px 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .M3x {
    margin: 128px 24px;
  }
}
.MH1x {
  margin-left: 16px;
  margin-right: 16px;
}
@media only screen and (min-width: 800px) {
  .MH1x {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .MH1x {
    margin-left: 32px;
    margin-right: 32px;
  }
}
.MH2x {
  margin-left: 24px;
  margin-right: 24px;
}
@media only screen and (min-width: 800px) {
  .MH2x {
    margin-left: 48px;
    adding-right: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .MH2x {
    margin-left: 64px;
    margin-right: 64px;
  }
}
.MH3x {
  margin-left: 32px;
  margin-right: 32px;
}
@media only screen and (min-width: 800px) {
  .MH3x {
    margin-left: 64px;
    margin-right: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .MH3x {
    margin-left: 128px;
    margin-right: 128px;
  }
}
.MV1x {
  margin-top: 16px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 800px) {
  .MV1x {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .MV1x {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.MV2x {
  margin-top: 24px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 800px) {
  .MV2x {
    margin-top: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .MV2x {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
.MV3x {
  margin-top: 32px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 800px) {
  .MV3x {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .MV3x {
    margin-top: 128px;
    margin-bottom: 128px;
  }
}
.MT1x {
  margin-top: 16px;
}
@media only screen and (min-width: 800px) {
  .MT1x {
    margin-top: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .MT1x {
    margin-top: 32px;
  }
}
.MT2x {
  margin-top: 24px;
}
@media only screen and (min-width: 800px) {
  .MT2x {
    margin-top: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .MT2x {
    margin-top: 64px;
  }
}
.MT3x {
  margin-top: 32px;
}
@media only screen and (min-width: 800px) {
  .MT3x {
    margin-top: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .MT3x {
    margin-top: 128px;
  }
}
.MB1x {
  margin-bottom: 16px;
}
@media only screen and (min-width: 800px) {
  .MB1x {
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .MB1x {
    margin-bottom: 32px;
  }
}
.MB2x {
  margin-bottom: 24px;
}
@media only screen and (min-width: 1200px) {
  .MB2x {
    margin-bottom: 64px;
  }
}
.MB3x {
  margin-bottom: 32px;
}
@media only screen and (min-width: 800px) {
  .MB3x {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .MB3x {
    margin-bottom: 128px;
  }
}
.P0 {
  padding: 0;
}
.P4 {
  padding: 4px;
}
.P8 {
  padding: 8px;
}
.P12 {
  padding: 12px;
}
.P16 {
  padding: 16px;
}
.P24 {
  padding: 24px;
}
.P32 {
  padding: 32px;
}
.P40 {
  padding: 40px;
}
.PT0 {
  padding-top: 0px;
}
.PT4 {
  padding-top: 4px;
}
.PT8 {
  padding-top: 8px;
}
.PT12 {
  padding-top: 12px;
}
.PT16 {
  padding-top: 16px;
}
.PT24 {
  padding-top: 24px;
}
.PT32 {
  padding-top: 32px;
}
.PT40 {
  padding-top: 40px;
}
.PR0 {
  padding-right: 0px;
}
.PR4 {
  padding-right: 4px;
}
.PR8 {
  padding-right: 8px;
}
.PR12 {
  padding-right: 12px;
}
.PR16 {
  padding-right: 16px;
}
.PR24 {
  padding-right: 24px;
}
.PR32 {
  padding-right: 32px;
}
.PR40 {
  padding-right: 40px;
}
.PB0 {
  padding-bottom: 0px;
}
.PB4 {
  padding-bottom: 4px;
}
.PB8 {
  padding-bottom: 8px;
}
.PB12 {
  padding-bottom: 12px;
}
.PB16 {
  padding-bottom: 16px;
}
.PB24 {
  padding-bottom: 24px;
}
.PB32 {
  padding-bottom: 32px;
}
.PB40 {
  padding-bottom: 40px;
}
.PL0 {
  padding-left: 0px;
}
.PL4 {
  padding-left: 4px;
}
.PL8 {
  padding-left: 8px;
}
.PL12 {
  padding-left: 12px;
}
.PL16 {
  padding-left: 16px;
}
.PL24 {
  padding-left: 24px;
}
.PL32 {
  padding-left: 32px;
}
.PL40 {
  padding-left: 40px;
}
.PV0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.PV4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.PV8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.PV12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.PV16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.PV24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.PV32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.PV40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.PH0 {
  padding-right: 0px;
  padding-left: 0px;
}
.PH4 {
  padding-right: 4px;
  padding-left: 4px;
}
.PH8 {
  padding-right: 8px;
  padding-left: 8px;
}
.PH12 {
  padding-right: 12px;
  padding-left: 12px;
}
.PH16 {
  padding-right: 16px;
  padding-left: 16px;
}
.PH24 {
  padding-right: 24px;
  padding-left: 24px;
}
.PH32 {
  padding-right: 32px;
  padding-left: 32px;
}
.PH40 {
  padding-right: 40px;
  padding-left: 40px;
}
.P1x {
  padding: 16px;
}
@media only screen and (min-width: 800px) {
  .P1x {
    padding: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .P1x {
    padding: 32px;
  }
}
.P2x {
  padding: 24px 16px;
}
@media only screen and (min-width: 800px) {
  .P2x {
    padding: 48px 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .P2x {
    padding: 64px 24px;
  }
}
.P3x {
  padding: 32px 16px;
}
@media only screen and (min-width: 800px) {
  .P3x {
    padding: 64px 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .P3x {
    padding: 128px 24px;
  }
}
.PH1x {
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 800px) {
  .PH1x {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .PH1x {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.PH2x {
  padding-left: 24px;
  padding-right: 24px;
}
@media only screen and (min-width: 800px) {
  .PH2x {
    padding-left: 48px;
    adding-right: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .PH2x {
    padding-left: 64px;
    padding-right: 64px;
  }
}
.PH3x {
  padding-left: 32px;
  padding-right: 32px;
}
@media only screen and (min-width: 800px) {
  .PH3x {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .PH3x {
    padding-left: 128px;
    padding-right: 128px;
  }
}
.PV1x {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 800px) {
  .PV1x {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .PV1x {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.PV2x {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 800px) {
  .PV2x {
    padding-top: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .PV2x {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
.PV3x {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media only screen and (min-width: 800px) {
  .PV3x {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .PV3x {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
.PT1x {
  padding-top: 16px;
}
@media only screen and (min-width: 800px) {
  .PT1x {
    padding-top: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .PT1x {
    padding-top: 32px;
  }
}
.PT2x {
  padding-top: 24px;
}
@media only screen and (min-width: 800px) {
  .PT2x {
    padding-top: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .PT2x {
    padding-top: 64px;
  }
}
.PT3x {
  padding-top: 32px;
}
@media only screen and (min-width: 800px) {
  .PT3x {
    padding-top: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .PT3x {
    padding-top: 128px;
  }
}
.PB1x {
  padding-bottom: 16px;
}
@media only screen and (min-width: 800px) {
  .PB1x {
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .PB1x {
    padding-bottom: 32px;
  }
}
.PB2x {
  padding-bottom: 24px;
}
@media only screen and (min-width: 1200px) {
  .PB2x {
    padding-bottom: 64px;
  }
}
.PB3x {
  padding-bottom: 32px;
}
@media only screen and (min-width: 800px) {
  .PB3x {
    padding-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .PB3x {
    padding-bottom: 128px;
  }
}
.TextCenter {
  text-align: center;
}
.TextLeft {
  text-align: left;
}
.TextRight {
  text-align: right;
}
.Uppercase {
  text-transform: uppercase;
}
.Underline {
  text-decoration: underline;
}
.DecorationNone {
  text-decoration: none;
}
.Strong {
  font-weight: bold;
}
.SStrong {
  font-weight: bolder;
}
.Light {
  font-weight: lighter;
}
.NoWrap {
  white-space: nowrap;
}
.SingleSpace {
  line-height: 1.5em;
}
.DoubleSpace {
  line-height: 2em;
}
@media only screen and (min-width: 800px) {
  .AboveTextCenter {
    text-align: center;
  }
}
@media only screen and (max-width: 1199px) {
  .BellowTextCenter {
    text-align: center;
  }
}
body {
  font-family: Roboto, sans-serif;
}
.Collapse .CollapseHead {
  padding: 0 24px;
  height: 56px;
  background-color: #f5f5f5;
  cursor: pointer;
  color: #522b79;
  transition: all ease 0.3s;
}
.Collapse .CollapseHead .Icon {
  transition: all ease 0.3s;
}
.Collapse .CollapseHead:hover {
  filter: brightness(0.95);
}
.Collapse .CollapseBody {
  overflow: hidden;
  transition: all ease 0.3s;
}
.Collapse.Open .Icon {
  transform: rotate(45deg);
}
.Collapse.CollapseFull .CollapseHead {
  height: 96px;
}
.Collapse.CollapseFull .CollapseHead .Title,
.Collapse.CollapseFull .CollapseHead .Step {
  font-size: 18px;
  font-family: Saira, Roboto, sans-serif;
}
.Collapse.CollapseFull .CollapseHead .Title {
  font-weight: 100;
}
.Collapse.CollapseFull .CollapseHead .Step {
  padding-bottom: 4px;
}
.Thumbnail figure {
  overflow: hidden;
  background-color: #f5f5f5;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  margin: auto;
  display: inline-block;
}
.Thumbnail figure img {
  min-height: 96px;
  min-width: 96px;
}
body {
  margin-top: 64px;
}
hr {
  border-color: rgba(204,204,204,0.4);
}
.Saira {
  font-family: 'Saira', sans-serif;
}
.Saira.SairaLight {
  font-weight: lighter;
}
.Saira.SairaStrong {
  font-weight: bold;
}
.Spacer {
  position: relative;
  min-height: 100px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 400px) {
  .Spacer {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 800px) {
  .Spacer {
    margin-bottom: 100px;
  }
}
.Spacer:after,
.Spacer:before {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  left: 0;
  background-color: #522b79;
}
.Spacer:before {
  top: 0;
  width: 80%;
  height: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100px;
}
.Spacer:after {
  height: 200%;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 100px;
  position: absolute;
  bottom: -25%;
  left: 0;
  width: 100%;
  transform: skewY(-10deg);
}
@media only screen and (max-width: 799px) {
  .Spacer:after {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}
.AutoSlider {
  max-width: 100vw;
}
.AutoSlider .Wrapper {
  overflow-x: auto;
}
.Navigation {
  z-index: 20;
  position: fixed;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
}
.Navigation .Wrapper {
  position: relative;
}
.Navigation .Brand {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  line-height: 64px;
}
.Navigation .Menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  transition: all ease 0.3s;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: #522b79;
  height: calc(100vh - 64px);
}
.Navigation .Menu a {
  display: inline-block;
  padding: 12px;
  transition: all ease 0.3s;
}
.Navigation .Menu a:hover {
  color: #fff700;
}
.Navigation .Menu .Number {
  width: 2em;
}
.Hamburger {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 64px;
  width: 64px;
}
.Hamburger span {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  height: 2px;
  background-color: #fff700;
  width: 24px;
  transition: all ease 0.3s;
}
.Hamburger span:nth-child(1) {
  transform: translateY(-8px);
}
.Hamburger span:nth-child(2) {
  opacity: 1;
}
.Hamburger span:nth-child(3) {
  transform: translateY(8px);
}
.Open.Navigation .Menu {
  opacity: 1;
  visibility: visible;
}
.Open.Navigation .Hamburger span:nth-child(1) {
  transform: rotate(45deg);
}
.Open.Navigation .Hamburger span:nth-child(2) {
  transform: rotate(45deg);
  opacity: 0;
}
.Open.Navigation .Hamburger span:nth-child(3) {
  transform: rotate(-45deg);
}
footer {
  background-color: #333;
  color: #999;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #fff700;
}
.Seal {
  background-color: #fff;
  border-radius: 7px;
  padding: 0 3px;
  display: inline-block;
  max-width: 107px;
  margin-top: 32px;
}
input,
textarea {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #eee;
  width: 100%;
  color: $color_text;
  font-size: 14px;
}
input::placeholder,
textarea::placeholder {
  color: $color_description;
  font-family: Roboto, sans-serif;
}
header {
  z-index: 1;
}
.Spacer .ButtonIcon {
  position: absolute;
  bottom: -64px;
  left: 0;
}
@media only screen and (min-width: 800px) {
  .Spacer .ButtonIcon {
    bottom: -80px;
  }
}
.slick-slider {
  overflow: hidden;
}
.slick-dots {
  color: #aaa;
  height: 64px;
}
.slick-dots li button:before {
  font-size: 12px !important;
}
.slick-dots li.slick-active button:before {
  color: #522b79 !important;
}

