footer
  bg(#333)
  color #999
  a
    color #999
    &:hover
      color $color_secondary
.Seal
  background-color: white;
  border-radius: 7px;
  padding: 0 3px;
  display: inline-block;
  max-width: 107px;
  margin-top: 32px;
