input,
textarea
  display block
  box-sizing border-box
  border-radius 4px
  border none
  padding 16px
  margin-top 8px
  margin-bottom 8px
  bg(#EEE)
  w(100%)
  color $color_text
  font-size 14px
  &::placeholder
    color $color_description
    font-family Roboto, sans-serif
