.Thumbnail
  figure
    overflow: hidden;
    bg($color_lightgray);
    h(96px);
    w(96px);
    border-radius: 50%
    margin: auto;
    display: inline-block;
    img
      min-height: 96px;
      min-width: 96px;
