body
  margin-top $navHeight

hr
  border-color: rgba(#CCC, .4);
  margin: 0;

.Saira
  font-family: 'Saira', sans-serif;
  &.SairaLight
    font-weight: lighter;
  &.SairaStrong
    font-weight: bold;

.Spacer
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 180px;
  margin-bottom: 20px;
  &:after,
  &:before
    content: ''
    zindex(-1);
    display: block;
    position: absolute;
    left: 0;
    bg($color_primary);
  &:before
    top: 0;
    w(80%);
    h(100%);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100px;
  &:after
    h(200%);
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 100px;
    position: absolute;
    bottom: -25%;
    left: 0;
    width: 100%;
    transform: skewY(-10deg);
    +below('sm')
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;

.AutoSlider
  max-width: 100vw;
  .Wrapper
    overflow-x: auto;
