.slick-slider
  overflow: hidden;

.slick-dots
  color: $color_gray
  h(64px);
  li
    button
      &:before
        font-size: 12px !important;
    &.slick-active
      button
        &:before
          color: $color_primary !important;
