.BGPrimary
  bg($color_primary)
.BGSecondary
  bg($color_secondary)
.BGLightGray
  bg($color_lightgray)
.BGWhite
  bg(white)

.ColorPrimary
  color $color_primary
.ColorSecondary
  color $color_secondary
body,
.ColorBlack
  color $color_black
.ColorGray
  color $color_gray
.ColorWhite
  color: white;

.Opacity5
  opacity: .5;
.Opacity6
  opacity: .6;
