.Flex
  display flex
.JCCenter
  justify-content center
.JCSpaceBetween
  justify-content space-between
.JCStart
  justify-content flex-start
.JCEnd
  justify-content flex-end
.AICenter
  align-items center
.FlexCenter
  justify-content center
  align-items center

.FlexGrow
  flex-grow 1
.FlexWrap
  flex-wrap wrap

.FlexDirectionRowReverse
  flex-direction row-reverse
.FlexDirectionColumn
  flex-direction column
.FlexDirectionColumneverse
  flex-direction column-reverse

.FlexDirectionRow
  flex-direction row
.FlexDirectionRowReverses
  flex-direction row-reverse

.Row
  +above('md')
    display flex
