.M1x
  margin 16px
  +above('md')
    margin 24px
  +above('lg')
    margin 32px
.M2X
  margin 24px 16px
  +above('md')
    margin 48px 24px
  +above('lg')
    margin 64px 24px
.M3x
  margin 32px 16px
  +above('md')
    margin 64px 24px
  +above('lg')
    margin 128px 24px

.MH1x
  margin-left 16px
  margin-right 16px
  +above('md')
    margin-left 24px
    margin-right 24px
  +above('lg')
    margin-left 32px
    margin-right 32px
.MH2x
  margin-left 24px
  margin-right 24px
  +above('md')
    margin-left 48px
    adding-right 48px
  +above('lg')
    margin-left 64px
    margin-right 64px
.MH3x
  margin-left 32px
  margin-right 32px
  +above('md')
    margin-left 64px
    margin-right 64px
  +above('lg')
    margin-left 128px
    margin-right 128px

.MV1x
  margin-top 16px
  margin-bottom 16px
  +above('md')
    margin-top 24px
    margin-bottom 24px
  +above('lg')
    margin-top 32px
    margin-bottom 32px
.MV2x
  margin-top 24px
  margin-bottom 24px
  +above('md')
    margin-top 48px
    adding-bottom48px
  +above('lg')
    margin-top 64px
    margin-bottom 64px
.MV3x
  margin-top 32px
  margin-bottom 32px
  +above('md')
    margin-top 64px
    margin-bottom 64px
  +above('lg')
    margin-top 128px
    margin-bottom 128px

.MT1x
  margin-top 16px
  +above('md')
    margin-top 24px
  +above('lg')
    margin-top 32px
.MT2x
  margin-top 24px
  +above('md')
    margin-top 48px
  +above('lg')
    margin-top 64px
.MT3x
  margin-top 32px
  +above('md')
    margin-top 64px
  +above('lg')
    margin-top 128px

.MB1x
  margin-bottom 16px
  +above('md')
    margin-bottom 24px
  +above('lg')
    margin-bottom 32px
.MB2x
  margin-bottom 24px
  +above('md')
    adding-bottom48px
  +above('lg')
    margin-bottom 64px
.MB3x
  margin-bottom 32px
  +above('md')
    margin-bottom 64px
  +above('lg')
    margin-bottom 128px
    