.P1x
  padding 16px
  +above('md')
    padding 24px
  +above('lg')
    padding 32px
.P2x
  padding 24px 16px
  +above('md')
    padding 48px 24px
  +above('lg')
    padding 64px 24px
.P3x
  padding 32px 16px
  +above('md')
    padding 64px 24px
  +above('lg')
    padding 128px 24px

.PH1x
  padding-left 16px
  padding-right 16px
  +above('md')
    padding-left 24px
    padding-right 24px
  +above('lg')
    padding-left 32px
    padding-right 32px
.PH2x
  padding-left 24px
  padding-right 24px
  +above('md')
    padding-left 48px
    adding-right 48px
  +above('lg')
    padding-left 64px
    padding-right 64px
.PH3x
  padding-left 32px
  padding-right 32px
  +above('md')
    padding-left 64px
    padding-right 64px
  +above('lg')
    padding-left 128px
    padding-right 128px

.PV1x
  padding-top 16px
  padding-bottom 16px
  +above('md')
    padding-top 24px
    padding-bottom 24px
  +above('lg')
    padding-top 32px
    padding-bottom 32px
.PV2x
  padding-top 24px
  padding-bottom 24px
  +above('md')
    padding-top 48px
    adding-bottom48px
  +above('lg')
    padding-top 64px
    padding-bottom 64px
.PV3x
  padding-top 32px
  padding-bottom 32px
  +above('md')
    padding-top 64px
    padding-bottom 64px
  +above('lg')
    padding-top 128px
    padding-bottom 128px

.PT1x
  padding-top 16px
  +above('md')
    padding-top 24px
  +above('lg')
    padding-top 32px
.PT2x
  padding-top 24px
  +above('md')
    padding-top 48px
  +above('lg')
    padding-top 64px
.PT3x
  padding-top 32px
  +above('md')
    padding-top 64px
  +above('lg')
    padding-top 128px

.PB1x
  padding-bottom 16px
  +above('md')
    padding-bottom 24px
  +above('lg')
    padding-bottom 32px
.PB2x
  padding-bottom 24px
  +above('md')
    adding-bottom48px
  +above('lg')
    padding-bottom 64px
.PB3x
  padding-bottom 32px
  +above('md')
    padding-bottom 64px
  +above('lg')
    padding-bottom 128px
