.P0
  padding 0
.P4
  padding 4px
.P8
  padding 8px
.P12
  padding 12px
.P16
  padding 16px
.P24
  padding 24px
.P32
  padding 32px
.P40
  padding 40px

.PT0
  padding-top 0px
.PT4
  padding-top 4px
.PT8
  padding-top 8px
.PT12
  padding-top 12px
.PT16
  padding-top 16px
.PT24
  padding-top 24px
.PT32
  padding-top 32px
.PT40
  padding-top 40px

.PR0
  padding-right 0px
.PR4
  padding-right 4px
.PR8
  padding-right 8px
.PR12
  padding-right 12px
.PR16
  padding-right 16px
.PR24
  padding-right 24px
.PR32
  padding-right 32px
.PR40
  padding-right 40px

.PB0
  padding-bottom 0px
.PB4
  padding-bottom 4px
.PB8
  padding-bottom 8px
.PB12
  padding-bottom 12px
.PB16
  padding-bottom 16px
.PB24
  padding-bottom 24px
.PB32
  padding-bottom 32px
.PB40
  padding-bottom 40px

.PL0
  padding-left 0px
.PL4
  padding-left 4px
.PL8
  padding-left 8px
.PL12
  padding-left 12px
.PL16
  padding-left 16px
.PL24
  padding-left 24px
.PL32
  padding-left 32px
.PL40
  padding-left 40px

.PV0
  padding-top 0px
  padding-bottom 0px
.PV4
  padding-top 4px
  padding-bottom 4px
.PV8
  padding-top 8px
  padding-bottom 8px
.PV12
  padding-top 12px
  padding-bottom 12px
.PV16
  padding-top 16px
  padding-bottom 16px
.PV24
  padding-top 24px
  padding-bottom 24px
.PV32
  padding-top 32px
  padding-bottom 32px
.PV40
  padding-top 40px
  padding-bottom 40px

.PH0
  padding-right 0px
  padding-left 0px
.PH4
  padding-right 4px
  padding-left 4px
.PH8
  padding-right 8px
  padding-left 8px
.PH12
  padding-right 12px
  padding-left 12px
.PH16
  padding-right 16px
  padding-left 16px
.PH24
  padding-right 24px
  padding-left 24px
.PH32
  padding-right 32px
  padding-left 32px
.PH40
  padding-right 40px
  padding-left 40px
