.TextCenter
  text-align center
.TextLeft
  text-align left
.TextRight
  text-align right
.Uppercase
  text-transform uppercase
.Underline
  text-decoration underline
.DecorationNone
  text-decoration none
.Strong
  font-weight bold
.SStrong
  font-weight bolder
.Light
  font-weight lighter
.NoWrap
  white-space nowrap

.SingleSpace
  line-height 1.5em
.DoubleSpace
  line-height 2em

.AboveTextCenter
  +above('md')
  	text-align center

.BellowTextCenter
  +below('md')
  	text-align center
